<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Favorite Books</title>
</head>

<body class="p-3">
    <header class="d-flex p-2 align-items-baseline">
        <h1 class="mr-auto">Welcome {{ user.first_name}}</h1>
        <form action="/log_off" method="POST">
            {% csrf_token %}
            <input class="btn btn-link" type="submit" name="log_off" value="Log Out">
        </form>
    </header>
    <hr class="bg-dark">
    <div class="d-flex p-2 justify-content-between">
        <div class="w-50">
            {% if messages %}
            <ul class="messages mt-2">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <h2 class="pl-3">Add a Favorite Book</h2>
            <form class="p-3" action="/add_book" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title" class="col-sm-2 col-form-label p-1">Title</label>
                    <input type="text" name="title" class="w-25">
                </div>
                <div class="form-group">
                    <label for="desc" class="col-sm-2 col-form-label p-1 align-top">Description</label>
                    <textarea name="desc" cols="20" rows="3" class="w-25"></textarea>
                </div>
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <input type="submit" name="add" value="Add" class="form-group ml-1">
            </form>
        </div>
        <div class="w-50">
            <h2 class="mt-0">All Books </h2>
            {% for book in books %}
            <a href="/books/{{ book.id }}" class="mt-0 mb-1">{{ book.title }}</a>
            <p class="mt-0 mb-1">({{ book.uploaded_by.first_name }} {{ book.uploaded_by.last_name }})</p>
            <p class="mt-0 mb-1">{{ book.desc }}</p>
            {% if book in books_user_likes %}
            <p class="mt-0 mb-1">This is one of your favorites</p>
            {% else %}
            <form class="mt-0 mb-1" action="/add_favorite" method="POST">
                {% csrf_token %}
                <input type="hidden" name="book_id" value="{{ book.id }}">
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <input type="submit" name="add_fav" value="Add to Favorites">
            </form>
            {% endif %}
            {% endfor %}
        </div>
    </div>

</body>

</html>