<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Welcome</title>
</head>
<body class="p-3">
    <header class="d-flex p-2 align-items-baseline">
        <h1 class="mr-auto">Welcome {{ user.first_name}}</h1>
        <form action="/log_off" method="POST">
            {% csrf_token %}
            <input class="btn btn-link" type="submit" name="log_off" value="Log Out">
        </form>
        <hr class="bg-dark">
    </header>
    <form action="/add_book" method="POST">
        {% csrf_token %}
        <div>
            <label for="title">Title</label>
            <input type="text" name="title">
        </div>
        <div>
            <label for="desc">Description</label>
            <textarea name="desc" cols="15" rows="5"></textarea>
        </div>
        <input type="submit" name="add" value="Add">
    </form>
</body>
</html>